body {
  background-color: #000214;
}

p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000214;
  font-weight: 300;
  font-size: 1.5rem;
  text-decoration: dashed;
  text-shadow: #fff;
}

h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000214;
  font-weight: bolder;
  font-size: 3.5rem;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5246dc, 0 0 40px #5246dc,
    0 0 50px #5246dc, 0 0 60px #5246dc, 0 0 70px #5246dc;
}

.content-section {
  background-image: url('hero1.png');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
}

@media (max-width: 768px) {
  .content-section {
    background-image: url('mobile-hero.png');
    padding-top: 680px;
    background-size: cover;
    background-position: center;
  }
}

.custom-button {
  background-color: #000214;
  color: #fff;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: #fff;
  color: #000214;
  border: 1px solid #000214;
}

@media (max-width: 768px) {
  p {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@keyframes brilho {
  0% {
    color: #5246dc;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5246dc,
      0 0 40px #5246dc, 0 0 50px #5246dc, 0 0 60px #5246dc, 0 0 70px #5246dc;
  }
  50% {
    color: #fff;
    text-shadow: 0 0 20px #fff, 0 0 30px #5246dc, 0 0 40px #5246dc,
      0 0 50px #5246dc, 0 0 60px #5246dc, 0 0 70px #5246dc, 0 0 80px #5246dc;
  }
  100% {
    color: #5246dc;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5246dc,
      0 0 40px #5246dc, 0 0 50px #5246dc, 0 0 60px #5246dc, 0 0 70px #5246dc;
  }
}

.titulo-brilhante {
  animation: brilho 5s linear infinite;
}
